{% extends 'core/base.html' %}

{% block title %}Main Page{% endblock %}

{% block background %}{% load static %} {% static 'core/img/banner13.png' %}{% endblock %}


{% block headers %}
<h2>print("Hi, I'm Nirvana!")</h2>
<span class="subheading">Software Engineering Student</span>
{% endblock %}

{% block content %} <!-- Para agregar contenido abajo de la pantalla es aquí -->
<!-- Para agregar contenido agregar <div class="row"> -->


    <p>I am proudly a passionate <b>Mexican Software Engineer</b> dedicated to creating and designing meaningful digital experiences. Currently, I am a student of Software Engineering at the <b>Autonomous University of Querétaro, Mexico.</b> I consider myself a self-taught and enthusiastic individual, always excited to learn and explore new technologies.
    <br>
    <br>
    <b>My goal is</b> to use my skills and knowledge to bring digital experiences to life that not only meet users' expectations but also leave a positive impact on their lives.
    <br>
    <br>
    My <b>approach</b> goes beyond just programming; I seek to understand the needs and desires of users to create solutions that connect meaningfully.
    
    <b>I am eager to be part</b> of dynamic and collaborative teams where I can apply my skills to drive success and excellence in software development, contributing to the digital world with my creativity and dedication.
    
    </p>
    <br>

<a href="{% static 'core/pdfs/Resume.pdf' %}" download style="display: flex; align-items: center; justify-content: center; text-decoration: none;">
  <button style="background-color: transparent; color: #000000; padding: 10px 20px; border: 1px solid #000000; border-radius: 4px;"
          onmouseover="this.style.borderColor='#2ECC71'; this.style.borderWidth='4px';"
          onmouseout="this.style.borderColor='#000000'; this.style.borderWidth='1px';">Dowload my CV</button>
</a>

<br>
{% endblock %}
</html>