{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/notas.jpg' %} {% endblock %}

{% block headers %}
<h1>Contáctame</h1>
<span class="subheading">¿Tienes una idea en mente?</span>
{% endblock %}

{% block content %}
<div class="col-lg-8 col-md-10 mx-auto">
    <p class="text-center">¿Necesitas ayuda o tienes una idea en mente? ¡Estoy aquí para ayudarte!</p>
    <br>
    <p class="text-center">Si tienes alguna duda sobre mi trabajo o te gustaría colaborar conmigo, no dudes en contactarme:</p>
    <p class="text-center"><b>nirvanabeleng@gmail.com</b></p>
    <br>
    <p class="text-center">También puedes visitar mis redes sociales en la parte inferior, como mi perfil de GitHub donde encontrarás todos mis trabajos, o mi perfil de LinkedIn.</p>
    <p class="text-center">¡Agradezco mucho tu apoyo!</p>
</div>
</div>

{% endblock %}