{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}

{% block background %}{% load static %} {% static 'core/img/banner13.png' %}{% endblock %}


{% block headers %}
<h2>print("Hola, soy Nirvana!")</h2>
<span class="subheading">Estudiante Ingeniería de Software</span>
{% endblock %}

{% block content %} <!-- Para agregar contenido abajo de la pantalla es aquí -->
<!-- Para agregar contenido agregar <div class="row"> -->

<p> Soy con orgullo una apasionada <b> ingeniera de software mexicana </b> comprometida por crear y diseñar experiencias digitales significativas. Actualmente,
    soy estudiante de Ingeniería de Software en la <b> Universidad Autónoma de Querétaro, México. </b> Me considero
    una persona autodidacta y entusiasta, siempre emocionada por aprender e investigar nuevas tecnologías.
<br>
    <br>

    <b>Mi objetivo es </b> utilizar mis habilidades y conocimientos para dar vida a experiencias digitales que no
     solo cumplan con las expectativas de los usuarios, sino que también dejen una huella positiva en sus vidas. 
     <br>
     <br>
    Mi <b>enfoque</b> no se limita simplemente a la programación; busco entender las necesidades y deseos de los usuarios para crear
    soluciones que conecten de manera significativa.

<b>Estoy ansiosa por formar parte</b> de equipos dinámicos y colaborativos, donde pueda aplicar mis habilidades para impulsar el éxito y la excelencia en el desarrollo de software
    contribuyendo al mundo digital con mi creatividad y dedicación.
 </p>

<br>

<a href="{% static 'core/pdfs/ResumenCV.pdf' %}" download style="display: flex; align-items: center; justify-content: center; text-decoration: none;">
  <button style="background-color: transparent; color: #000000; padding: 10px 20px; border: 1px solid #000000; border-radius: 4px;"
          onmouseover="this.style.borderColor='#2ECC71'; this.style.borderWidth='4px';"
          onmouseout="this.style.borderColor='#000000'; this.style.borderWidth='1px';">Descarga mi CV</button>
</a>

<br>
{% endblock %}
